<nav class="navbar fixed-top navbar-light bg-white">
    <div class="container">
        <div class="logo"></div>
        <div>
            <div class="add-post" data-toggle="modal" data-target="#novaPublicacaoModal"></div>
            <a href="#" (click)="logout()" style="margin-left: 25px;">Sair</a>
        </div>
    </div>
</nav>

<br /><br /><br />
<div class="container">
    <app-publicacoes #publicacoesComponent></app-publicacoes>
    <app-incluir-publicacao (eeToHomeAtualizarPublicacao)="eeToHomeAtualizarPublicacao()"></app-incluir-publicacao>
</div>